* {
    margin: 0;
    padding: 0;
    font-family: montserrat;
}
.content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 50px;
}
.determinant {
    display: flex;
    align-items: center;
}
.matrix {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    width: 100px;
    margin: 10px;
    padding: 30px;

    border-left: 2px solid #000;
    border-right: 2px solid #000;
    transition: 1s ease-in-out;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    transition: 1s ease-in-out;
}
.col:hover {
    background-color: lightcyan;
}
.col {
    height: 100px;
    width: 100px;
    font-size: 50px;
    border: none;
    text-align: center;
    transition: 1s ease-in-out;
    transition: background-color 0.2s;
}
.answer {
    margin: 20px;
    font-size: 50px;
}
.buttons {
    display: flex;
    flex-direction: column;
}
.button {
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    background: lightgrey;
    box-shadow: 0 4px 0 darkgray;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}
.add-level {
    background: greenyellow;
    box-shadow: 0 4px 0 darkseagreen;
}
.del-level {
    background: yellow;
    box-shadow: 0 4px 0 darkgoldenrod;
}
